@import '../../base/waltti';

@font-face {
  font-family: 'Centra No 2';
  src: url('https://cdn.kyyti.com/fonts/CentraNo2-Book.woff2') format('woff2');
  src: url('https://cdn.kyyti.com/fonts/CentraNo2-Bold.woff2') format('woff2');
  src: url('https://cdn.kyyti.com/fonts/CentraNo2-Medium.woff2') format('woff2');
}

/* main theme colors */
$primary-color: #0070b5;
$secondary-color: darken($primary-color, 20%);
$hilight-color: $primary-color;
$action-color: $primary-color;
$bus-color: $primary-color;
$viewpoint-marker-color: $primary-color;
$current-location-color: $primary-color;

$standalone-btn-color: $primary-color;
$link-color: $primary-color;

$caution-icon-color: $primary-color;

/* Component palette */
$desktop-title-color: $primary-color;
$desktop-title-arrow-icon-color: $secondary-color;

$accent-color: $to-color;

$top-navigation-icon-color: $primary-color;
$top-navigation-title-color: $primary-color;

$nav-logo-height: 72px;
$nav-logo-width: 275px;

$font-family: 'Centra No 2', system-ui, sans-serif;
