@import 'theme';
@import '../../main';
.navi-icons .icon {
  color: white;
}

.external-top-bar {
  .external-link-container {
    background-color: $primary-color;
    color: white;
  }

  .external-link-decoration {
    top: 2px;
    right: 2px;
  }
}

.front-page.bp-large div.leaflet-bottom.leaflet-left div.leaflet-control-zoom {
  margin-bottom: 40px;
}

.top-bar {
  background: white;

  &.bp-large {
    height: $nav-logo-height + 8px;
  }
  &.bp-small {
    height: $nav-logo-height/2;
  }

  section.title {
    color: $primary-color;
  }

  svg.icon.back.cursor-pointer {
    color: $primary-color;
    fill: $primary-color !important;
  }
  .main-menu-toggle .icon {
    fill: $accent-color !important;
  }
}

#lang-select {
  color: $primary-color;
  .offcanvas-section & {
    color: white;
  }
}

.dynamic-height-modal .modal {
  height: unset !important;
}

.secondary-button, .primary-button {
  border-radius: 30px;
  font-weight: 700;
}

label.form-input  {
  font-size: 16px;
  font-weight: 700;
}

.form-input input {
  border: 2px solid lightgrey;
  font-size: 16px;
  padding: 0.5em;
  height: 42px;
  border-radius: 4px;

  &:focus, &:active {
    border-color: $primary-color;
  }
}
