.main-title {
    padding: 13px 10px 13px 10px;
    color: white;
    text-align: center;
    font-family: "Intro W01 Black Caps", "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-antialiasing: grayscale;
    font-size: 1.25rem;
    background-color: #0070B5;
}
.autosuggest-panel{
  margin:0rem;
}

.autosuggest-in-panel{
  margin:1rem;
}

.powered-by {
  /* display: inline-block; */
  /* border: 1px solid red; */
  display: inline-flex;
  align-items: center;
  /* text-align: center; */
  /* vertical-align: middle; */
}

.widget-icon{
  display:flex;
  margin:1rem;
  text-align: center;
  box-sizing: border-box;
  justify-content:center;
}
.mh-icon{
    max-height: 80px;
    min-height: 72px;
    min-width: 110px;

}
.search-icon{
  width:100%;
}

.widget-body{
  background-color:#ffffff!important;
  letter-spacing:0;
  -webkit-text-size-adjust:100%
}

.search-button {
  width:100%;
  display:block;
  background-color: #0070b5;
}

.search-button :hover{
  background-color: #646668;
}

html {
  /* Fix font display on webkit based browsers */
  -webkit-font-smoothing: antialiased;
  /* Disable touch delay on ms-devices */
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  font-size: 15px !important; }

@media screen and (min-width: 320px) {
  html {
    font-size: calc(14px + 7 * (100vw - 320px) / 500) !important; } }

@media screen and (min-width: 900px) {
  html {
    font-size: 16px !important; } }
body {
  background-color: #eef1f3 !important;
  font-family: Lato, Arial, Georgia, Serif;
  font-weight: 400;
  letter-spacing: 0;
  /* Remove Mobile Safari automatic font size adjustments */
  -webkit-text-size-adjust: 100%; }
#main {
  background-color: #eef1f3; }
#app {
  height: 100%;
  display: flex;
  flex-direction: column; }
  @media print {
    #app {
      display: block;
      height: auto; } }

p {
  font-family: Lato, Arial, Georgia, Serif;
  font-weight: 400;
  font-size: 1rem;
  color: #333;
  /* Remove Android FontBoosting */
  max-height: 999999px; }

a {
  color: #008bde; }

/* HEADINGS */
h1,
.h1 {
  font-family: "PT Sans Narrow", "Arial Condensed", Arial, Georgia, Serif;
  font-weight: 500;
  letter-spacing: 0;
  font-size: 1.5rem;
  padding: 0.4em 0 0.2em;
  margin: 0;
  color: #333; }

h2,
.h2 {
  font-family: Lato, Arial, Georgia, Serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: #333;
  text-transform: none; }

h3,
.h3 {
  color: #333;
  font-family: Lato, Arial, Georgia, Serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  margin: 0;
  text-transform: none; }

h4,
.h4 {
  font-family: Lato, Arial, Georgia, Serif;
  font-weight: 700;
  font-size: 0.87rem;
  text-transform: uppercase;
  line-height: 1.2;
  color: #333; }

a h4,
a .h4 {
  color: #008bde; }

h1 a {
  color: inherit;
  text-decoration: none; }

/* SUB HEADERS */
.sub-header-h4 {
  font-family: Lato, Arial, Georgia, Serif;
  font-weight: 400;
  font-size: 0.92rem;
  margin: 0 !important;
  color: #666; }

.sub-header-h5 {
  font-family: Lato, Arial, Georgia, Serif;
  font-weight: 400;
  font-size: 0.87rem;
  margin: 0;
  color: #666; }

.route-list {
  padding: 0em 1em 0.25em; }
  .route-list div {
    font-family: "PT Sans Narrow", "Arial Condensed", Arial, Georgia, Serif;
    font-weight: 500;
    letter-spacing: 0;
    font-size: 12pt;
    line-height: 1.2; }

.transparent {
  background: rgba(0, 0, 0, 0.5) !important;
  color: #ffffff !important; }

div.spinner-loader {
  z-index: 40000;
  position: absolute;
  left: 50%;
  margin: 17px 0 0 -34px;
  width: 68px;
  height: 68px;
  background-image: url(/proxy/assets/e3111cc9666a27cc9effe3579739107a.png);
  animation: spin 4s linear infinite;
  background-size: cover; }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

hr {
  clear: both; }

body select {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='9' height='9' viewBox='0 0 1024 1024'><path stroke='white' fill='white' class='path1' d='M845.224 212.621l-333.221 333.235-333.224-333.235c-40.901-40.901-107.212-40.901-148.113 0v0c-40.901 40.901-40.897 107.212 0 148.109l481.333 481.326 481.333-481.326c40.901-40.901 40.901-107.212 0-148.109v0c-40.897-40.904-107.212-40.901-148.109 0z'></path></svg>");
  background-position: right 10px top 50%;
  margin-bottom: 0; }

.no-select {
  user-select: none; }

/*
  Style Guidelines Page
*/
.code {
  font-family: monospace;
  font-weight: 400;
  font-size: 16px;
  color: crimson;
  padding: 0 10px; }

.color-code {
  display: inline-block;
  padding-bottom: 20px; }

.color-palette {
  margin-bottom: -20px; }

.sub-header {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 0; }

.leaflet-container a {
  color: currentColor; }

.subicon-caution .icon,
.subicon-info .icon {
  display: block;
  overflow: visible; }

.subicon-caution .icon {
  color: white;
  fill: #dc0451;
  height: 13px;
  width: 13px; }

.subicon-info .icon {
  fill: #666;
  height: 11px;
  width: 11px; }

.subicon-info .icon-circle {
  stroke: white;
  stroke-width: 12; }

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

/* Override foundation styles */
input {
  border-radius: 3px; }

span.postfix {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important; }

span.prefix {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important; }

.postfix.search {
  color: #ffffff;
  background: linear-gradient(to bottom, #4dc7ff 1px, #1ab7ff 1px, #009ee6); }

.prefix-and-postfix-radius input {
  border-radius: 0 !important; }

input[type="date"]::-webkit-clear-button, input[type="time"]::-webkit-clear-button {
  display: none; }

input[type="time"]::-webkit-inner-spin-button {
  display: none; }

.fullscreen {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column; }

@media print {
  .fullscreen {
    height: auto; } }

.padding-small {
  padding: 0.45em 1em; }

.card-padding {
  padding: 1em 1em 0.5em 1.5em; }

.padding-normal {
  padding: 0.7em 1em; }

.padding-vertical-small {
  padding: 0.45em 0; }

.padding-vertical-normal {
  padding: 0.6em 0; }

.padding-horizontal {
  padding: 0 1em; }

.padding-horizontal-large {
  padding: 0 2em; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

/* Appearance */
.cursor-grab {
  cursor: grab !important; }

.cursor-pointer {
  cursor: pointer; }

/* TODO Remove this - setting only the font-weight can give wrong combinations,
        as main and secondary families have different weights for bold. */
.bold {
  font-weight: 700; }

.no-decoration {
  text-decoration: none; }

.large-text {
  font-size: 1.1em; }

.uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

.hover:hover {
  opacity: 0.8;
  transition: 0.1s ease-in-out; }

.hide-dropdown {
  background-image: none; }

.large-icon {
  width: 20px;
  height: 20px; }

body .large .icon {
  width: 20px;
  height: 20px; }

.border-bottom {
  border-bottom: 1px solid #ddd; }

.border-top {
  border-top: 1px solid #ddd; }

.border-dashed {
  border: 1px dashed #ddd; }

.collapsed {
  display: none !important; }

.hidden {
  visibility: hidden; }

.page-frame {
  padding: 10px; }

.call-to-action-button {
  font-family: Lato, Arial, Georgia, Serif;
  font-weight: 400;
  letter-spacing: 0;
  color: white;
  background: #008bde;
  vertical-align: middle;
  border-radius: 1.5em;
  padding: 0.5em 1.5em;
  text-align: center;
  max-width: 500px;
  margin-top: 25px;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto; }
  .call-to-action-button:active {
    background: #b6c1c7; }

.page-not-found {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center; }
  .page-not-found .icon-container {
    margin-top: 1.25rem; }
    .page-not-found .icon-container svg {
      height: 130px;
      width: 150px; }
  .page-not-found p {
    font-size: 1.25rem; }
    .page-not-found p a {
      font-size: 1.25rem;
      color: #00afff;
      border-bottom: 1px dotted;
      text-decoration: none; }
    .page-not-found p button {
      margin: 0; }

/* Card */
.card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 5px;
  line-height: 1.2;
  overflow-x: hidden; }

.card-header {
  background-color: #ffffff;
  padding: 0.4em 0 0.5em; }
  .card-header .card-header-content {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .card-header .card-header-content .card-header-wrapper {
      flex-grow: 1; }
  .card-header .zone-icon-container {
    align-items: center;
    color: #00afff;
    display: flex;
    font-size: 0.8rem;
    font-weight: 400;
    padding-bottom: 0.4em; }
    .card-header .zone-icon-container .icon {
      display: block;
      height: 2em;
      margin-left: 0.5em;
      width: 2em; }
  .card-header .h3 {
    margin-top: -10px; }
  .card-header .card-sub-header p {
    display: inline; }
  .card-header .card-sub-header .card-code {
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 0.8rem;
    color: #78909c;
    margin-right: 3px;
    padding: 0px 2px 0px 2px; }

/* buttons */
.show-more {
  text-align: center;
  text-transform: uppercase;
  border-radius: 30px;
  background: #b6c1c7;
  color: #ffffff;
  font-family: Lato, Arial, Georgia, Serif;
  font-weight: 400;
  font-size: 0.92rem;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding: 0; }
  .show-more:hover, .show-more:focus {
    background-color: #b6c1c7;
    outline: 0; }

/* ICONS */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor; }
  .icon.caution {
    color: #ffffff;
    fill: #dc0451; }
  .icon.info {
    color: #78909c; }
  .icon.inline-icon {
    margin-left: 0.25em;
    position: relative;
    top: 0.125em; }

.favourite-icon {
  padding: 0;
  height: 24px;
  width: 24px; }
  .favourite-icon .icon.favourite {
    height: 24px;
    width: 24px;
    stroke: #ccc;
    stroke-width: 50px;
    fill: transparent; }
    .favourite-icon .icon.favourite:hover {
      stroke: #e9ab00; }
    .favourite-icon .icon.favourite.selected {
      fill: #e9ab00;
      stroke: #eef1f3; }
    .favourite-icon .icon.favourite.selected:hover {
      stroke: #ddd; }

@keyframes realtimeInnerArch {
  0% {
    opacity: 1; }
  20% {
    opacity: 1; }
  40% {
    opacity: 0; }
  60% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes realtimeOuterArch {
  0% {
    opacity: 1; }
  20% {
    opacity: 1; }
  40% {
    opacity: 0; }
  60% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 1; } }

svg.realtime-icon {
  transform: translate3d(0, 0, 0); }

#icon-icon_realtime {
  color: #3f8600; }

#icon-icon_realtime path {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: step-start;
  fill: currentColor; }
  #icon-icon_realtime path.path1 {
    animation-name: realtimeInnerArch; }
  #icon-icon_realtime path.path2 {
    animation-name: realtimeOuterArch; }

@keyframes locationIcon {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0.4; }
  75% {
    opacity: 0.1; }
  100% {
    opacity: 0;
    transform: scale(3); } }

input[type='range'].slider:focus {
  outline: none; }

/* Track is the line where the circle moves */
/* Mixins work, but straight nested definitions don't */
input[type='range'].slider {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  margin: 3px 0 1em; }
  input[type='range'].slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    background: #000000;
    border-radius: 3px;
    border: 2px solid #575757; }
  input[type='range'].slider:focus::-webkit-slider-runnable-track {
    background: #0d0d0d; }
  input[type='range'].slider::-moz-range-track {
    width: 100%;
    cursor: pointer;
    background: #000000;
    border-radius: 3px;
    border: 2px solid #575757;
    height: 3px; }
  input[type='range'].slider::-ms-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid #575757;
    background: transparent;
    border-color: transparent;
    color: transparent;
    border-width: 10px; }
  input[type='range'].slider::-ms-fill-lower {
    background: #000000;
    border: 2px solid #575757;
    border-radius: 6px; }
  input[type='range'].slider::-ms-fill-upper {
    background: #000000;
    border: 2px solid #575757;
    border-radius: 6px; }
  input[type='range'].slider:focus::-ms-fill-lower {
    background: #000000; }
  input[type='range'].slider:focus::-ms-fill-upper {
    background: #0d0d0d; }

/* Thumb is the circle on the track */
/* stylelint-disable-next-line */
input[type='range'].slider {
  /* Prevent Firefox from drawing an ugly dotted line over the thumb */ }
  input[type='range'].slider::-webkit-slider-thumb {
    box-shadow: 0px 1.3px 0.2px #000000, 0px 0px 1px #c1c1c1;
    border: 3px solid #ffffff;
    height: 24px;
    width: 24px;
    border-radius: 15px;
    background: #575757;
    box-sizing: border-box;
    /* Default in webkit, not in Gecko */
    cursor: ew-resize;
    -webkit-appearance: none;
    /* You need to specify a margin in Chrome,
       but in Firefox and IE it is automatic */
    margin-top: -10.5px; }
  input[type='range'].slider::-moz-range-thumb {
    box-shadow: 0px 1.3px 0.2px #000000, 0px 0px 1px #c1c1c1;
    border: 3px solid #ffffff;
    height: 24px;
    width: 24px;
    border-radius: 15px;
    background: #575757;
    box-sizing: border-box;
    /* Default in webkit, not in Gecko */
    cursor: ew-resize; }
  input[type='range'].slider::-moz-focus-outer {
    border: 0; }
  input[type='range'].slider::-ms-thumb {
    box-shadow: 0px 1.3px 0.2px #000000, 0px 0px 1px #c1c1c1;
    border: 3px solid #ffffff;
    width: 24px;
    border-radius: 15px;
    background: #575757;
    box-sizing: border-box;
    /* Default in webkit, not in Gecko */
    cursor: ew-resize;
    height: 24px; }

.itinerary-profile-container {
  padding: 0.7em; }
  .itinerary-profile-container.small {
    font-size: 10pt; }
  .itinerary-profile-container .itinerary-profile-item-title {
    font-weight: 400;
    letter-spacing: 0;
    color: #666;
    display: inline-block; }
  .itinerary-profile-container .itinerary-profile-item-value {
    color: #333;
    display: inline-block;
    margin-left: 0.25rem; }

meta.foundation-mq-large {
  width: 64.063em; }

meta.foundation-mq-xlarge {
  width: 90.063em; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

meta.foundation-mq-medium {
  width: 40.063em; }

html, body {
  font-size: 100%; }

button, .search-button  {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: Lato, Arial, Georgia, Serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 0.1rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  border-color: #008ccc;
  display: block;
  background-color: #0070b5;
  color: #ffffff;
  transition: background-color 300ms ease-out; }
  button:hover {
    color: #ffffff;
    background-color: #666;
  }
  button:focus{
    color: #ffffff;
    background-color: #0070b5;
  }
  button.secondary, .button.secondary {
    background-color: #008bde;
    border-color: #006fb2;
    color: #ffffff; }
    button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
      color: #ffffff; }
  button.success, .button.success {
    background-color: #43AC6A;
    border-color: #368a55;
    color: #ffffff; }
    button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
      background-color: #368a55; }
  button.warning, .button.warning {
    background-color: #f08a24;
    border-color: #cf6e0e;
    color: #ffffff; }
    button.warning:hover, button.warning:focus, .button.warning:hover, .button.warning:focus {
      color: #ffffff; }
  button.info, .button.info {
    background-color: #a0d3e8;
    border-color: #61b6d9;
    color: #333333; }

    button.info:hover, button.info:focus, .button.info:hover, .button.info:focus {
      color: #ffffff; }
  button.large, .button.large {
    padding-top: 1.125rem;
    padding-right: 2.25rem;
    padding-bottom: 1.1875rem;
    padding-left: 2.25rem;
    font-size: 1.25rem; }
  button.small, .button.small {
    padding-top: 0.875rem;
    padding-right: 1.75rem;
    padding-bottom: 0.9375rem;
    padding-left: 1.75rem;
    font-size: 0.8125rem; }
  button.tiny, .button.tiny {
    padding-top: 0.625rem;
    padding-right: 1.25rem;
    padding-bottom: 0.6875rem;
    padding-left: 1.25rem;
    font-size: 0.6875rem; }
  button.expand, .button.expand {
    padding-right: 0;
    padding-left: 0;
    width: 100%; }
  button.left-align, .button.left-align {
    text-align: left;
    text-indent: 0.75rem; }
  button.right-align, .button.right-align {
    text-align: right;
    padding-right: 0.75rem; }
  button.radius, .button.radius {
    border-radius: 3px; }
  button.round, .button.round {
    border-radius: 1000px; }
  button.disabled, button[disabled], .button.disabled, .button[disabled] {
    background-color:#0070b5;
    border-color: #008ccc;
    color: #ffffff;
    cursor: default;
    opacity: 0.7;
    box-shadow: none; }
    button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
      background-color: #008ccc; }
    button.disabled.secondary, button[disabled].secondary, .button.disabled.secondary, .button[disabled].secondary {
      background-color: #008bde;
      border-color: #006fb2;
      color: #ffffff;
      cursor: default;
      opacity: 0.7;
      box-shadow: none; }
      button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
        background-color: #006fb2; }
    button.disabled.success, button[disabled].success, .button.disabled.success, .button[disabled].success {
      background-color: #43AC6A;
      border-color: #368a55;
      color: #ffffff;
      cursor: default;
      opacity: 0.7;
      box-shadow: none; }
      button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
        background-color: #368a55; }

    button.disabled.alert, button[disabled].alert, .button.disabled.alert, .button[disabled].alert {
      background-color: #f04124;
      border-color: #cf2a0e;
      color: #ffffff;
      cursor: default;
      opacity: 0.7;
      box-shadow: none; }
      button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
        background-color: #cf2a0e; }

    button.disabled.warning, button[disabled].warning, .button.disabled.warning, .button[disabled].warning {
      background-color: #f08a24;
      border-color: #cf6e0e;
      color: #ffffff;
      cursor: default;
      opacity: 0.7;
      box-shadow: none; }
      button.disabled.warning:hover, button.disabled.warning:focus, button[disabled].warning:hover, button[disabled].warning:focus, .button.disabled.warning:hover, .button.disabled.warning:focus, .button[disabled].warning:hover, .button[disabled].warning:focus {
        background-color: #cf6e0e; }

    button.disabled.info, button[disabled].info, .button.disabled.info, .button[disabled].info {
      background-color: #a0d3e8;
      border-color: #61b6d9;
      color: #333333;
      cursor: default;
      opacity: 0.7;
      box-shadow: none; }
button.disabled.info:hover, button.disabled.info:focus, button[disabled].info:hover, button[disabled].info:focus, .button.disabled.info:hover, .button.disabled.info:focus, .button[disabled].info:hover, .button[disabled].info:focus {
        background-color: #a0d3e8; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

@media only screen and (min-width: 40.063em) {
  button, .search-button  {
    display: inline-block; } }

/* Standard Forms */
form {
  margin: 0 0 0.5rem; }

/* Using forms within rows, we need to set some defaults */
form .row .row {
  margin: 0 -0.25rem; }
  form .row .row .column,
  form .row .row .columns {
    padding: 0 0.25rem; }
  form .row .row.collapse {
    margin: 0; }
    form .row .row.collapse .column,
    form .row .row.collapse .columns {
      padding: 0; }
    form .row .row.collapse input {
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }

form .row input.column,
form .row input.columns,
form .row textarea.column,
form .row textarea.columns {
  padding-left: 0.25rem; }

/* We use this to get basic styling on all basic form elements */
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-color: #ffffff;
  font-family: inherit;
  border-style: none;
  border-width: 0;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875rem;
  margin: 0 0 0.5rem 0;
  padding: 0.25rem;
  height: 1.5625rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out; }
  input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="color"]:focus, textarea:focus {
    box-shadow: 0 0 5px #999999;
    border-color: #999999; }
  input[type="text"]:disabled, input[type="password"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="month"]:disabled, input[type="week"]:disabled, input[type="email"]:disabled, input[type="number"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="color"]:disabled, textarea:disabled {
    background-color: #DDDDDD;
    cursor: default; }
  input[type="text"][disabled], input[type="text"][readonly],
  fieldset[disabled] input[type="text"], input[type="password"][disabled], input[type="password"][readonly],
  fieldset[disabled] input[type="password"], input[type="date"][disabled], input[type="date"][readonly],
  fieldset[disabled] input[type="date"], input[type="datetime"][disabled], input[type="datetime"][readonly],
  fieldset[disabled] input[type="datetime"], input[type="datetime-local"][disabled], input[type="datetime-local"][readonly],
  fieldset[disabled] input[type="datetime-local"], input[type="month"][disabled], input[type="month"][readonly],
  fieldset[disabled] input[type="month"], input[type="week"][disabled], input[type="week"][readonly],
  fieldset[disabled] input[type="week"], input[type="email"][disabled], input[type="email"][readonly],
  fieldset[disabled] input[type="email"], input[type="number"][disabled], input[type="number"][readonly],
  fieldset[disabled] input[type="number"], input[type="search"][disabled], input[type="search"][readonly],
  fieldset[disabled] input[type="search"], input[type="tel"][disabled], input[type="tel"][readonly],
  fieldset[disabled] input[type="tel"], input[type="time"][disabled], input[type="time"][readonly],
  fieldset[disabled] input[type="time"], input[type="url"][disabled], input[type="url"][readonly],
  fieldset[disabled] input[type="url"], input[type="color"][disabled], input[type="color"][readonly],
  fieldset[disabled] input[type="color"], textarea[disabled], textarea[readonly],
  fieldset[disabled] textarea {
    background-color: #DDDDDD;
    cursor: default; }
  input[type="text"].radius, input[type="password"].radius, input[type="date"].radius, input[type="datetime"].radius, input[type="datetime-local"].radius, input[type="month"].radius, input[type="week"].radius, input[type="email"].radius, input[type="number"].radius, input[type="search"].radius, input[type="tel"].radius, input[type="time"].radius, input[type="url"].radius, input[type="color"].radius, textarea.radius {
    border-radius: 3px; }

form .row .prefix-radius.row.collapse input,
form .row .prefix-radius.row.collapse textarea,
form .row .prefix-radius.row.collapse select {
  border-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; }

form .row .prefix-radius.row.collapse .prefix {
  border-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }

form .row .postfix-radius.row.collapse input,
form .row .postfix-radius.row.collapse textarea,
form .row .postfix-radius.row.collapse select {
  border-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }

form .row .postfix-radius.row.collapse .postfix {
  border-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; }

form .row .prefix-round.row.collapse input,
form .row .prefix-round.row.collapse textarea,
form .row .prefix-round.row.collapse select {
  border-radius: 0;
  -webkit-border-bottom-right-radius: 1000px;
  -webkit-border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px; }

/* Calculate some extra width for typeahead results*/
.search-container {
  margin-left: 5%;
  pointer-events: none;
  position: absolute;
  width: 52.5%;
  z-index: 8; }
  .search-container .autosuggest-input-container,
  .search-container .street-mode-selector-popup-options,
  .search-container .street-mode-selector-popup-toggle {
    pointer-events: auto; }

.front-page .autosuggest-input-container {
  box-shadow: 1.5px 2.6px 10px 0 rgba(0, 0, 0, 0.2); }

.front-page .origin-input-container
.front-page .destination-input-container
.front-page #origin
.front-page #destination {
  margin: 0;
  font-size: 1rem; }

.front-page .autosuggest-input-icon {
  margin-top: 0.75em;
  z-index: 18; }

.front-page button.clear-input {
  font-size: 1rem; }

.front-page .autosuggest-panel .react-autosuggest__container .react-autosuggest__suggestions-container--open {
  top: 3rem; }

/*Placeholder selectors can't be nested and need to be put 1 at a time, these are for the
input field Placeholder texts */
#origin::placeholder {
  color: #666666;
  opacity: 1; }

#origin::-webkit-input-placeholder {
  color: #666666;
  opacity: 1; }

#origin:-moz-placeholder {
  color: #666666;
  opacity: 1; }

#origin::-moz-placeholder {
  color: #666666;
  opacity: 1; }

#origin:-ms-input-placeholder {
  color: #666666;
  opacity: 1; }

#destination::-ms-input-placeholder {
  color: #666666;
  opacity: 1; }

#destination::-webkit-input-placeholder {
  color: #666666;
  opacity: 1; }

#destination:-moz-placeholder {
  color: #666666;
  opacity: 1; }

#destination::-moz-placeholder {
  color: #666666;
  opacity: 1; }

#destination::placeholder {
  color: #666666;
  opacity: 1; }

ul.react-autowhatever__items-list {
  list-style-type: none;
  background: #ffffff;
  border: 1px solid #ddd;
  padding: 4px 11px;
  overflow-y: auto;
  width: calc(100% + 22px);
  margin: 0 -11px; }
  ul.react-autowhatever__items-list li {
    white-space: nowrap;
    overflow: hidden; }
    ul.react-autowhatever__items-list li:not(:last-child) {
      border-bottom: solid 1px #eee; }

.react-autosuggest__suggestion--highlighted {
  color: #333;
  font-family: Lato, Arial, Georgia, Serif;
  font-weight: 400;
  letter-spacing: 0;
  background-color: #dfe5e8; }

.react-autosuggest__suggestions-container {
  background-color: white; }
  .react-autosuggest__suggestions-container .suggestion-name span .bus,
  .react-autosuggest__suggestions-container .suggestion-name span .tram,
  .react-autosuggest__suggestions-container .suggestion-name span .rail,
  .react-autosuggest__suggestions-container .suggestion-name span .subway,
  .react-autosuggest__suggestions-container .suggestion-name span .ferry,
  .react-autosuggest__suggestions-container .suggestion-name span .airplane {
    font-weight: 400;
    font-family: "PT Sans Narrow", "Arial Condensed", Arial, Georgia, Serif;
    font-size: 1rem; }
  .react-autosuggest__suggestions-container .suggestion-name span .suggestion-type {
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #666; }
  .react-autosuggest__suggestions-container .react-autosuggest__suggestions-list {
    margin-top: -0.2em;
    margin-bottom: 0;
    padding-top: 0px;
    padding-left: 0;
    background: #ffffff; }
    .react-autosuggest__suggestions-container .react-autosuggest__suggestions-list li:hover {
      background: #dfe5e8; }

.react-autosuggest__suggestion {
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0;
  cursor: pointer;
  list-style: none;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  border-bottom: 1px solid #ddd; }

.react-autosuggest__suggestion .icon {
  margin-right: 4px;
  fill: #cbcbcb; }

.autosuggestIcon {
  color: #cbcbcb;
  padding: 0 0.6em;
  font-size: 1rem; }
  .autosuggestIcon svg.havePosition {
    vertical-align: -0.15em; }

.search-result {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 2em;
  overflow-x: hidden; }
  .search-result.loading:not(.CurrentLocation) svg.icon {
    stroke: #ccc !important;
    fill: #ccc !important;
    background: #ccc !important; }
  .search-result.loading:not(.CurrentLocation) .suggestion-name,
  .search-result.loading:not(.CurrentLocation) .suggestion-name *,
  .search-result.loading:not(.CurrentLocation) .suggestion-type,
  .search-result.loading:not(.CurrentLocation) .suggestion-type *,
  .search-result.loading:not(.CurrentLocation) .suggestion-label,
  .search-result.loading:not(.CurrentLocation) .suggestion-label * {
    color: #ccc !important;
    background: #ccc !important; }
  .search-result .havePosition {
    color: #00afff; }
  .search-result .noPosition {
    color: #00afff; }
  .search-result .search-position {
    color: #00afff; }
  .search-result.favourite svg.icon {
    stroke: #e9ab00;
    fill: #e9ab00; }
  .search-result.CurrentLocation svg.icon {
    color: #00afff; }
  .search-result .use-own-position,
  .search-result .suggestion-name,
  .search-result .suggestion-label {
    margin: 0;
    font-family: Lato, Arial, Georgia, Serif;
    font-weight: 400;
    letter-spacing: 0; }
  .search-result .suggestion-name,
  .search-result .use-own-position {
    font-size: 0.92rem; }
  .search-result .suggestion-name span .bus,
  .search-result .suggestion-name span .tram,
  .search-result .suggestion-name span .rail,
  .search-result .suggestion-name span .subway,
  .search-result .suggestion-name span .ferry,
  .search-result .suggestion-name span .airplane {
    font-weight: 400;
    font-family: "PT Sans Narrow", "Arial Condensed", Arial, Georgia, Serif;
    font-size: 1rem; }
  .search-result .suggestion-name span .suggestion-type {
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #666; }
  .search-result.OldSearch p.suggestion-name,
  .search-result.OldSearch span.suggestion-type, .search-result.FavouritePlace p.suggestion-name,
  .search-result.FavouritePlace span.suggestion-type, .search-result.FavouriteStop p.suggestion-name,
  .search-result.FavouriteStop span.suggestion-type, .search-result.CurrentLocation p.suggestion-name,
  .search-result.CurrentLocation span.suggestion-type {
    color: #8c4799; }
  .search-result .suggestion-label {
    font-size: 0.8rem;
    color: #666; }

.suggestion-item-stop {
  padding: 0;
  display: flex;
  flex-direction: row; }
  .suggestion-item-stop > div {
    flex-grow: 1; }
  .suggestion-item-stop .suggestion-item-timetable {
    margin: 1px 0px 1px 0px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    border-left: 1px solid #eee; }
    .suggestion-item-stop .suggestion-item-timetable a {
      display: flex;
      align-items: center; }
    .suggestion-item-stop .suggestion-item-timetable span {
      display: inline-block;
      padding-right: 0.4em;
      color: #008bde; }
    .suggestion-item-stop .suggestion-item-timetable div.suggestion-item-timetable-label {
      display: inline-block;
      font-weight: 700;
      letter-spacing: 0;
      color: #008bde;
      text-transform: uppercase;
      font-size: 0.72rem; }
    .suggestion-item-stop .suggestion-item-timetable a > span > svg {
      fill: #008bde; }

.small .suggestion-item-stop > div {
  width: 0em; }

.small .suggestion-item-stop .suggestion-item-timetable {
  width: 8em; }

.autosuggest-panel.isItinerary {
  width: 100%; }
  .autosuggest-panel.isItinerary input.react-autosuggest__input {
    background: #ffffff; }
  .autosuggest-panel.isItinerary .clear-input {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }

.autosuggest-panel .dark-overlay {
  z-index: 9;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.57); }
  .autosuggest-panel .dark-overlay.hidden {
    display: none; }
  .autosuggest-panel .dark-overlay.isItinerary {
    position: fixed; }

.autosuggest-panel .react-autosuggest__container {
  width: 100%; }
  .autosuggest-panel .react-autosuggest__container .react-autosuggest__suggestions-container--open {
    background: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    max-height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    top: calc(3 * 0.875rem); }

.autosuggest-panel.small .react-autosuggest__container .react-autosuggest__suggestions-container--open {
  max-height: unset; }

.via-point-button-container {
  display: flex; }
  .via-point-button-container > div:nth-child(1) {
    order: 1;
    border-left: none; }
  .via-point-button-container > div:nth-child(2) {
    order: 2;
    border-left: 1px solid rgba(151, 151, 151, 0.2); }

.itinerary-search-control {
  align-items: center;
  color: #008bde;
  display: flex;
  justify-content: center;
  min-width: 3em; }
  .itinerary-search-control + .itinerary-search-control {
    border-left: 1px solid rgba(151, 151, 151, 0.2); }
  .itinerary-search-control *:hover {
    color: #0062a1; }
  .itinerary-search-control .switch {
    font-size: 1.8em; }
    .itinerary-search-control .switch .icon {
      transform: rotate(90deg); }
  .itinerary-search-control .add-via-point-slack > span:nth-child(2) {
    display: inline;
    position: relative; }
    .itinerary-search-control .add-via-point-slack > span:nth-child(2) .super-icon {
      fill: #00afff;
      font-size: 0.8rem;
      position: absolute;
      right: -0.5em;
      top: -0.5em; }

.small.autosuggest-panel.isItinerary .autosuggest-input-container.origin, .small.autosuggest-panel.isItinerary .autosuggest-input-container.destination, .small.autosuggest-panel.isItinerary .autosuggest-input-container.viapoint {
  margin: 0;
  padding: 0;
  width: 100%; }

.small.autosuggest-panel .autosuggest-input-container {
  margin: 1em 1em 0 1em;
  width: calc(100% - 2em); }

.small.autosuggest-panel .react-autosuggest__container {
  width: 100%;
  margin: 0 auto; }

.autosuggest-input-icon {
  display: block;
  position: absolute;
  width: 1.45em;
  height: 1.45em;
  margin-top: 0.6em;
  margin-left: 0.5em; }
  .autosuggest-input-icon.destination {
    color: #ec5188;
    z-index: 3;
  }
  .autosuggest-input-icon.origin {
    color: #64be14;
    z-index: 3;
  }
  .autosuggest-input-icon .icon {
    width: 100%;
    height: 100%;
   }

.isItinerary .autosuggest-input-icon {
  z-index: 18;
 }

 input.react-autosuggest__input.widgetlocation{
  padding-left: 3em;
  background-color: #F4F4F4;
 }
 input.react-autosuggest__input.destination,  input.react-autosuggest__input.position, input.react-autosuggest__input.viapoint {
  padding-left: 3em;
}

input.react-autosuggest__input {
  background-color: #ffffff;
  font-family: Lato, Arial, Georgia, Serif;
  font-weight: 400;
  letter-spacing: 0;
  border: 1px solid #fff;
  border-radius: 4px;
  height: 3em;
  padding: 10px;
  outline: 0;
  appearance: none;
  box-shadow: none;
  z-index: 2;
 }

.autosuggest-input-container {
  margin-top: 1em;
  position: relative;
  width: 100%; }
  .autosuggest-input-container.origin {
    z-index: 16; }
  .autosuggest-input-container.destination {
    z-index: 10; }

.isItinerary .autosuggest-input-container {
  margin: 0; }
  .isItinerary .autosuggest-input-container input[type='text'] {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }

.react-autosuggest__container {
  display: flex; }

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;
  outline: none;
  border: none; }

.react-autosuggest__container input {
  box-shadow: none;
  outline: none;
  transition: border 0s;
}
  .react-autosuggest__container input:focus {
    box-shadow: none;
    /* First apply outline that is used in Edge and Firefox */
    outline: 5px auto -webkit-focus-ring-color;
    /* Then override outline for webkit browsers like Chrome, this has no effect on other browsers */
    border: none;
    background: #ffffff;
   /* z-index: 17;*/
   }

input.react-autosuggest__input::-ms-clear {
  display: none; }

button.clear-input {
  display: flex;
  background: #f4f4f4;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  align-items: center;
  padding: 8px 12px 8px 12px;
  margin-left: -4px;
  font-size: 0.875rem;
  height: 3em;
  margin-bottom: 0px;
  color: #666;
  outline: none; }
  button.clear-input span {
    font-size: 1.1rem; }
  button.clear-input:hover {
    background: #ffffff; }
  button.clear-input:focus {
    background-color: #ffffff;
    /* First apply outline that is used in Edge and Firefox */
    outline: 1px dotted #212121;
    /* Then override outline for webkit browsers like Chrome, this has no effect on other browsers */
  }

.react-autosuggest__container--open button.clear-input {
  border-bottom-right-radius: 0; }

.suggestion-is-updating {
  visibility: hidden; }
